body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

.flex {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
}

.tiles {
  padding-bottom: 30px;
  width: 200px;
  height: 170px;
  line-height: 180px;
  vertical-align: middle;
  border: 2px solid black;
  text-align: center;
  font-size: 100px;
  background-color: lightblue;
}
